<div class="col-lg-10 space">
  <div class="container">
  <h2><%= @genre.name %>一覧（全<%= @genre.items.count %>種）</h2>
</div>
  <div class="container">
    <% @genre.items.each do |gp| %>
      <%= render 'public/items/box', item: gp %>
    <% end %>
  </div>
</div>