<div class="container">
	<h3 style="margin-top:40px">注文情報確認</h3><br>
	<%= form_for  @order,url: {action: 'create'} do |f| %>



  <strong>支払方法 </strong>
  <%= f.hidden_field :payment_method %>
  	<%= @order.payment_method %><br>


		
		<div class="text-center">
			<%= f.submit "購入を確定する", class: "btn btn-success text-cenrer btn-lg" %>
		</div>
		<% end %>



</div>