<div class="container">
  <div class="row">
	<div class="col-xs-3">
		<%= render "public/genres/genre", genre: @genres %>
	</div>
      <div class="col-xs-9">

	    <h2>
    　　　　<span style="display: inline-block;">全商品一覧</span>
    　　　　<span style="display: inline-block;">（<%= @items.count %>種）</span>
  　　　　</h2>
	    <% @items.each do |gp| %>
	     <%= render 'public/items/box', item: gp %>
	    <% end %>

	</div>
  </div>
</div>
